html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #000;
  color: #fff;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  word-wrap: break-word;
}

.inner {
  width: 95%;
  margin: 0 auto;
}

/*===header===*/
.hdr {
  /*z-index: 100px;*/
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-image {
  display: table-cell;
  width: 80px;
  height: 60px;
}

.title-image img {
  width: 80px;
  height: 60px;
}

.main-title {
  /*display: inline-block;*/

  width: 400px;
}

.main-title {
  font-size: 1.2rem;
  display: table;
}

.title-anchor {
  /*display: inline-block;*/
  display: table-cell;
  vertical-align: middle;
  /*line-height: 60px;*/
  text-indent: 1.5rem;
  font-size: .8rem;
  margin-left: 10px;
}

.nav {
  /*float: right;*/
  /*margin-top: -30px;*/
  margin-left: auto;
}

.nav-lists {
  height: 25px;
  display: flex;
  align-items: stretch;
}

.nav-list {
  font-size: .8rem;
  text-align: center;
  line-height: 25px;
}

.nav-list a {
  display: block;
  width: 100px;
}

/*main*/

.main {
  text-align: center;
}

.ev-title {
  font-size: 3rem;
}

.under {
  font-stretch: extra-;
  font-size: 8rem;
  margin-top: px;
}

.evessan {
  padding: 20px 0;
}

.for-you-ev {
  width: 500px;
  padding: 40px 0;
}

.wanna-ev {
  font-size: 1.5rem;
}

.ev-image {
  width: 150px;
  height: 200px;
}

.hope-ev {
  font-size: 1.5rem;
  line-height: 35px;
  font-weight: 100;
}

/*sect1*/
.sect1 {
  display: table;
  text-align: center;
  padding-top: 200px;
}

.what-ev1 {
  /*position: relative;*/
  display: table-cell;
  /*vertical-align: top;*/
  width: 50%;
}

.what-ev1-img1 {
  vertical-align: top;
  width: 150px;
  height: 250px;
}

.what-ev1-img2 {
  vertical-align: top;
  width: 400px;
  height: 500px;
}

.what-ev2 {
  display: table-cell;
  width: 50%;
  /*position: relative;*/
}


.what-ev2-img {
  width: 400px;
  height: 200px;
  /*position: absolute;
  top: 0px;
  left: 50px;*/
  vertical-align: top;
  margin-top: -10px;
}

.what-ev2-para {
  /*font-size: 1.5rem;*/
  width: 450px;
  letter-spacing: .6rem;
  text-align: left;
  line-height: 3rem;
  margin-left: 80px;
  margin-top: 40px;
}

/*sect2*/

.sect2-parent {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10% 0;
  padding: 80px 0;
}

.sect-parent::before {
  content: '';
  width: ;
  height: 500px;
  border-right: 100px solid #fff;
  border-top: 100% solid transparent;
  background-color: #fff;

}

.sect2 {
  display: table;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  color: #000;
}

.like-ev1 {
  display: table-cell;
  width: 50%;
}

.like-ev1-img {
  width: 300px;
  vertical-align: top;
}

.like-ev1-para {
  width: 400px;
  margin-top: 30px;
  letter-spacing: .6rem;
  text-align: left;
  line-height: 3rem;
}

.like-ev2 {
  display: table-cell;
  width: 50%;
  position: relative;
}

.like-ev2-img1 {
  width: 40%;
  position: absolute;
  top: 0;
  right: 25%;
}

.like-ev2-img2 {
  width: 75%;
  position: absolute;
  top: 0;
  right: 30%;
}

/*happy*/

.sect3 {
  width: 80%;
  margin: 100px auto;
  display: table;
}

.happy1 {
  display: table-cell;
  width: 50%;
}

.happy1-img1 {
  width: 80px;
  height: 150px;
  vertical-align: top;
}

.happy1-img2 {
  width: 300px;
  margin-left: 30px;
}

.happy2 {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.happy2-img1 {
  width: 300px;
  height: 150px;
}

.happy2-para {
  /*margin-left: 100px;*/
  font-size: 1.5rem;
  letter-spacing: .6rem;
  text-align: left;
  line-height: 3rem;
}

/*ftr*/
.ftr {
  margin-top: 100px;
  text-align: center;
}
.ftr-image img {
  width: 120px;
  height: 90px;
}

.copy {
  padding: 50px;
  font-size: .6rem;
}
