/*.movies {
  width: 50%;
  height: 500px;
}

.movie {
  width: 100%;
  height: 500px;
  filter: brightness(50%);
  z-index: 2;
}

.movie:hover {
  filter: brightness(100%);
}*/

.contents {
  width: 100%;
  height: 500px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 10rem;
}

.content {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: #000;
}

.para {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.effect {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 200px;
  background: #000;

}

.effect:hover {
  animation: slide 1s forwards;
}

@keyframes slide {
  0% {
    width: 100%;
    height: 200px;
  }
  100% {
    width: 0;
    height: 200px;
  }
}
